static/content/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
static/content/**/*.jpg filter=lfs diff=lfs merge=lfs -text
static/content/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
static/content/**/*.png filter=lfs diff=lfs merge=lfs -text
static/content/**/*.MP4 filter=lfs diff=lfs merge=lfs -text
static/content/**/*.JPG filter=lfs diff=lfs merge=lfs -text
static/content/**/*.JPEG filter=lfs diff=lfs merge=lfs -text
static/content/**/*.PNG filter=lfs diff=lfs merge=lfs -text
